<div class="cadreMap">

	<div class="container">

		<div class="row">

			<div class="col-md-4 col-sm-4 col-xs-12">
				<h3 class="green-head">Lieux d'intervention</h3>
				<p>Sans que cette liste soit exhaustive, celle-ci présente
					quelques villes d'intervention de ALSA ENTRETIEN sur le département
					de l'Hérault.<br />Bien entendu ALSA ENTRETIEN assure ces services sur
					d'autres villes.<br /><a href="{{ path("contact") }}" title="Contact ALSA ENTRETIEN">Renseignez-vous</a></p>

				<br />
			</div>
			
			
			<div class="col-md-8 col-sm-8 col-xs-12" id="oMap"></div>

			<script type="text/javascript">
				
				function initMap() {
					var oMap = new google.maps.Map(document
							.getElementById('oMap'), {
						zoom : 9,
						center: {lat: 43.581903, lng: 3.761729}
					});


					
					{% set index = 0 %}
					{% for marqueur in listMarqueur %}
					
					 oMarker{{index}} = new google.maps.Marker({
					      'numero' : {{index}},
					      'position' : new google.maps.LatLng( {{marqueur.latitude}}, {{marqueur.longitude}}),
					      'map' : oMap,
					      'title' : 'MS2I INFORMATIQUE - {{marqueur.nom}}'
					    });

					 var oInfo = new google.maps.InfoWindow();

					 google.maps.event.addListener( oMarker{{index}}, 'click', function( data){
						   oInfo.setContent('<p><b>MS2I INFORMATIQUE</b><br />Ingénierie Informatique - Développement - Maintenance<br />Formation - Conseil - Expertise<br /><b>{{marqueur.nom}}</b><p>');
						   oInfo.open( this.getMap(), this);
						 });

					 google.maps.event.addListener( oMarker{{index}}, 'mouseout', function( data){
						   oInfo.close( this.getMap(), this);
						 });
                  
					{% set index = index + 1 %}
					{% endfor %}
					
					
				}
				
			</script>
			
			<script 
				type="text/javascript" 
				src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlaDdNPa-arKndvlcMwTrQBhYQ5_CXaK4&callback=initMap">
				
			</script>

		</div>

		<div class="row row-pb-md">
		
		{% set i = 0 %}
		{% for ville in listVille %}
		
		    {% if i % 6 == 0 %}
			<div class="col-md-3 col-sm-6 col-xs-12">
			<ul>
	        {% endif %}
					
					<li>
					<a href="{{ path("contact") }}" target="_blank" title="Ingénierie Informatique - Développement - Formation - Maintenance - Conseil - Expertise">{{ ville.nom }}
					</a>
					</li>
				
			{% set i = i + 1 %}
            
		    {% if i % 6 == 0 %}
		    </ul>
			</div>
	   	    {% endif %}
	   	    
	    {% endfor %}
			
		</div>

	</div>

</div>