<nav class="fh5co-nav" role="navigation">
		
		
		
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-1">
						<div id="fh5co-logo"><a href="{{ path('index') }}">MS2I<span>&nbsp;Informatique</span></a></div>
					</div>
					<div class="col-xs-11 text-right menu-1">
						<ul>
							<li class="active btn-cta"><a href="{{ path('index') }}"><span>Home</span></a></li>
							<li><a href="{{ path('index') }}#conseil-service-informatique"><span>Conseil</span></a></li>
							<li><a href="{{ path('index') }}#conseil-service-informatique"><span>Services</span></a></li>
							<li><a href="{{ path('contact') }}#contact_form"><span>Contact</span></a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>