<div class="modalLayer" id="conseil_expertise_informatique">
	<div class="popup_block">
		<a href="#noWhere"><img alt="Fermer" title="Fermer la fenêtre" class="modal_close_button" src="{{ asset(template_path) }}/site/images/close_pop.png"></a>
		
		<h2>Conseil et Expertise</h2>

			<p style="text-align: left;">Sans se prévaloir de cette nomination, l'exploitant de MS2I Informatique est Expert Judiaire près de la Cour d'Appel de Montpellier.<br /><img style="display: block; margin: 5px; float: right;" title="Conseil et Expertise Informatique" alt="Conseil et Expertise Informatique" src="{{ asset(template_path) }}/site/images/conseil-expertise-informatique.jpg" height="80" width="80" />Vous pouvez profiter de son savoir-faire et de son expérience en demandant un audit de votre Système d'Information avant toute action ou démarche pouvant engager votre responsabilité.</p>
			<p style="text-align: left; clear: both;">Bien entendu, MS2I Informatique peut vous conseiller ou vous accompagner dans votre projet Informatique et ce, tout au long de sa réalisation.</p>
			
	</div>
</div>

<div class="modalLayer" id="ingenierie_informatique_gestion_projets">
	<div class="popup_block">
		<a href="#noWhere"><img alt="Fermer" title="Fermer la fenêtre" class="modal_close_button" src="{{ asset(template_path) }}/site/images/close_pop.png"></a>
		
		<h2>Ingénierie Informatique et Gestion Projet</h2>

			<p style="text-align: left;">L'expérience professionnelle riche et variée de MS2I Informatique qui associe des missions d'innovations technologiques et des missions de relations humaines, permet une intégration rapide et efficiente aux systèmes d'informations.<img style="display: block; margin: 5px; float: right;" title="Ingénierie Informatique et gestion de projet" alt="Ingénierie Informatique et gestion de projet" src="{{ asset(template_path) }}/site/images/ingenierie-informatique.png" height="80" width="80" /></p>
			<p style="text-align: left;">MS2I Informatique apporte des solutions efficaces et durables aux problèmes informatiques professionnels à travers des actions alliant expertise et polyvalence.</p>
			<p style="text-align: left;">Tout cela concourt à améliorer favorablement des contraintes habituelles de l'entreprise, comme :</p>
			
				<ul>
					<li style="text-align: left;">Augmentation de la performance ;</li>
					<li style="text-align: left;">Diminution des délais ;</li>
					<li style="text-align: left;">Baisse des coûts.</li>
				</ul>
				
			
	</div>
</div>

<div class="modalLayer" id="etude_developpement_informatique">
	<div class="popup_block">
		<a href="#noWhere"><img alt="Fermer" title="Fermer la fenêtre" class="modal_close_button" src="{{ asset(template_path) }}/site/images/close_pop.png"></a>
		
		<h2>Etude et développement</h2>

		<p style="text-align: left;">MS2I Informatique développe des solutions sur mesure dans de multiples secteurs d'activité, notamment auprès de TPE &amp; PME-PMI régionales.</p>
		<p style="text-align: left;">Puisque chacun est unique, chaque projet est différent et spécifique à chaque entreprise. MS2I Informatique vous apporte son savoir faire dans toutes <img style="margin: 5px; float: left;" title="Etude et Développement Informatique" alt="Etude et développement Informatique" src="{{ asset(template_path) }}/site/images/etude-developpement-projet-informatique.jpg" longdesc="MS2I Informatique - Etude et Développement" height="100" width="92" />les phases du développement de projet : réalisation du cahier des charges, analyse, développement, tests, recette, conduite au changement...<span style="font-family: Verdana;"></span></p>
		<p style="text-align: left;"><br style="clear: none;" />Une relation client privilégiée et la convergeance des idées créées au sein de l'équipe de décision et de l'équipe de réalisation est synonyme de réussite pour les différents projets informatiques entrepris.</p> 
	

	</div>
</div>


<div class="modalLayer" id="sites_internet_referencement">
	<div class="popup_block">
		<a href="#noWhere"><img alt="Fermer" title="Fermer la fenêtre" class="modal_close_button" src="{{ asset(template_path) }}/site/images/close_pop.png"></a>
		
		<h2>Site Internet &amp; Référencement</h2>

		<p style="text-align: left;">MS2I Informatique est spécialisé dans le média web avec un positionnement webmarketing qui peut être résumé en une phrase :</p>
		<h4 style="text-align: center;">" Faire du web pour être vu et reconnu. "</h4>
		<p style="text-align: left;"><br style="clear: none;" /><img style="margin: 8px; float: left;" alt="Site internet et référencement" src="{{ asset(template_path) }}/site/images/sites-internet-referencement.png" height="80" width="120" />Ceci implique une approche dans la démarche de conseil et dans la création de site internet ou l'apport de services en ligne.</p>
		<p style="text-align: left;">Ces actions web vous apporteront la visibilité qui permettront à votre site d’atteindre vos objectifs : contacts, devis, vente, amélioration ou création de notoriété.</p> 
	

	</div>
</div>

<div class="modalLayer" id="depannage_maintenance_informatique">
	<div class="popup_block">
		<a href="#noWhere"><img alt="Fermer" title="Fermer la fenêtre" class="modal_close_button" src="{{ asset(template_path) }}/site/images/close_pop.png"></a>
		
		<h2>Dépannage et maintenance informatique</h2>
	
		<p style="text-align: left;">MS2I Informatique vous apporte son assistance sur site, en atelier ou à distance pour remettre votre matériel en bon état de fonctionnement, pour prévenir d'une panne à venir ou tout simplement pour la mise en fonction d'un nouveau matériel informatique ou électronique (ordinateur, mobile, portable, imprimante, appareil vidéo, etc...).</p>
		<p style="text-align: left;">Diagnostic, dépannage et maintenance de votre ordinateur, installation de votre matériel informatique, <img style="margin: 5px; float: right;" title="Dépannage et Maintenance Informatique" alt="Dépannage et maintenance informatique" src="{{ asset(template_path) }}/site/images/depannage-maintenance.jpg" height="79" width="120" />rétablissement de votre accès à internet, éradication de virus et spyware, optimisation de votre ordinateur, récupération de vos données perdues, conseil : MS2I vous accompagne dans l'utilisation de votre outil informatique.</p>
	
	</div>
</div>

<div class="modalLayer" id="formation_assistance_informatique">
	<div class="popup_block">
		<a href="#noWhere"><img alt="Fermer" title="Fermer la fenêtre" class="modal_close_button" src="{{ asset(template_path) }}/site/images/close_pop.png"></a>
		
		<h2>Formation, Conseil et Assistance</h2>
	
		<p style="text-align: left;">À travers son offre de formations aux métiers et technologies de l’informatique proposée en formations inter-entreprises, intra-entreprise ou individuelles, MS2I Informatique assure la montée en compétences de salariés, de gérants d'entreprises, d'étudiants...&nbsp;</p>
		<p style="text-align: left;">Reconnu pour la qualité de ses prestations pédagogiques et son <img longdesc="MS2I Informatique - Formation et assistance" style="margin: 5px; float: right;" title="Formation et assistance" alt="Formation et assistance en informatique" src="{{ asset(template_path) }}/site/images/conseil-formation.png" height="74" width="120" />approche professionnelle, MS2I est également le spécialiste de la formation sur-mesure.</p>
		<p style="text-align: left;">Sous certaines conditions, le financement de la formation peut être pris intégralement en charge au titre de la formation continue.</p>


	</div>
</div>
		
		
		
		
		
		
		


<div id="fh5co-project">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Compétences et domaines d'activité</h2>
					<p>De la maintenance à l'Ingénierie Informatique, MS2I Informatique peut vous apporter son savoir-faire acquis au cours de nombreuses années d'expérience et de nombreux projets.</p>
				</div>
			</div>
		</div>
		<div class="container-fluid proj-bottom">
			<div class="row">
				
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="#depannage_maintenance_informatique"><img src="{{ asset(template_path) }}/site/images/depannage-maintenance-2.jpg" alt="Dépannage et maintenance informatique" class="img-responsive">
						<h3>Maintenance<br />Dépannage</h3>
						<span>Plus d'info</span>
					</a>
				</div>
				
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="#sites_internet_referencement"><img src="{{ asset(template_path) }}/site/images/sites-internet-referencement-2.jpg" alt="Sites Internet et référencement" class="img-responsive">
						<h3>Sites Internet<br />Référencement</h3>
						<span>Plus d'info</span>
					</a>
				</div>
			
				
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="#formation_assistance_informatique"><img src="{{ asset(template_path) }}/site/images/formation-assistance-2.jpg" alt="Formation et assistance informatique" class="img-responsive">
						<h3>Formation<br />Assistance</h3>
						<span>Plus d'info</span>
					</a>
				</div>
				
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="#etude_developpement_informatique"><img src="{{ asset(template_path) }}/site/images/etude-developpement-2.jpg" alt="Etude et développement informatique" class="img-responsive">
						<h3>Développement</h3>
						<span>Plus d'info</span>
					</a>
				</div>
				
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="#ingenierie_informatique_gestion_projets"><img src="{{ asset(template_path) }}/site/images/ingenierie-informatique-2.jpg" alt="Ingénierie Informatique et Gestion de projet" class="img-responsive">
						<h3>Ingénierie Informatique<br />Gestion de projet</h3>
						<span>Plus d'info</span>
					</a>
				</div>
				
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="#conseil_expertise_informatique"><img src="{{ asset(template_path) }}/site/images/conseil-expertise-informatique-2.jpg" alt="Conseil et expertise informatique" class="img-responsive">
						<h3>Conseil<br />Expertise</h3>
						<span>Plus d'info</span>
					</a>
				</div>
			</div>
			
		</div>
		
		
		
		
		<div class="container">
			<div class="row">
				<div class="features">
					<div class="col-md-4 animate-box">
						<h4>L'humain au centre des Projets</h4>
						<p>C'est par la communication et la confiance entre chacun des intervenants que les Projets réussissent : C'est ensemble que nous arriverons.</p>
					</div>
					<div class="col-md-4 animate-box">
						<h4>Feedbacks en continu</h4>
						<p>Les retours d'informations rapides auprès de chacun des acteurs des Projets sont un gage de réussite et de performances conforment au besoins. </p>
					</div>
					<div class="col-md-4 animate-box">
						<h4>Normes et règles de l'art</h4>
						<p>Réaliser un Système d'Information ne s'improvise pas : les normes et les pratiques professionnelles sont les "fondations" de Projets concluants.</p>
					</div>
				</div>
				<div class="col-md-12 text-center animate-box">
					<p><a class="btn btn-primary btn-lg btn-learn" href="{{ path('contact') }}">Renseignez-vous</a></p>
				</div>
			</div>
		</div>
	</div>